<!DOCTYPE html>
<html>

<head>

    <title>Twitter Sentiment Analyzer</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

<div class="container">

    <h1>
        Twitter / X Sentiment Analyzer
    </h1>

    <div class="main-card">

        <h2>Total Comments Analyzed</h2>

        <h1>{{ total }}</h1>

    </div>

    <div class="grid">

        <div class="positive card">

            <h3>Positive 😊</h3>

            <h1>{{ positive }}</h1>

            <p>{{ positive_pct }}%</p>

        </div>

        <div class="neutral card">

            <h3>Neutral 😐</h3>

            <h1>{{ neutral }}</h1>

            <p>{{ neutral_pct }}%</p>

        </div>

        <div class="negative card">

            <h3>Negative 😠</h3>

            <h1>{{ negative }}</h1>

            <p>{{ negative_pct }}%</p>

        </div>

    </div>

    <h2>
        Analyzed Comments
    </h2>

    <table>

        <tr>
            <th>Comment</th>
            <th>Sentiment</th>
        </tr>

        {% for row in comments %}

        <tr>

            <td>
                {{ row.comment }}
            </td>

            <td>
                {{ row.sentiment }}
            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>

</html>